@{
    ViewBag.Title = "Contact";
}
<div class="row ml-5">
    <a href="https://github.com/galipyildiz" target="_blank"><img width="100" height="100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Font_Awesome_5_brands_github.svg/1200px-Font_Awesome_5_brands_github.svg.png" alt="Alternate Text" /></a>
    <br />
</div>
<div class="row ml-5 pl-2">
    <p>Galip Yıldız</p>
</div>

